body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .input-field{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction:row ;
  }
  .signup-container {
    background-color: #fff;
    width: 75%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .title-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-input .input-field {
    margin-bottom: 15px;
  }
  
  .signup-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .signup-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .submit-btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  label{
    margin:5px;
    padding:5px;
  }