
.footer{
    background-color: aliceblue;
    text-align: center;
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: auto;
  

}
.footer:hover{
    text-decoration: underline;
}


p{
    
    font-size: 1em;
}