.card{

    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 87%, 52%, 0.1);
    padding: 20px;
    margin: 10 px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
    background-color: rgb(227, 232, 238);
    margin-top: 30px;
    margin-left: 30px;
    
}


.card-image{
    border: none;

}

.card-title{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: hsl(0, 4%, 5%);
    font-size: 25px;
    font-weight: bold;
    
    
}
.card-title:hover{
    cursor: pointer;
   
    text-decoration:underline ;
    
}

.card-info{
    font-family: Arial, Helvetica, sans-serif;
    color:hsl(0, 2%, 9%);
    margin-top: 10px;
    

}
.card-info:hover{
    text-decoration: underline;
    cursor: pointer;
}